/* DIN */

@font-face {
    font-family: 'din_regular';
    src: url('../media/fonts/din_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_bold';
    src: url('../media/fonts/din_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_light';
    src: url('../media/fonts/din_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_medium';
    src: url('../media/fonts/din_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}